<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appversion2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminWelcomePage"></activity>
        <activity android:name=".CustomerWelcomePage" />
        <activity android:name=".EmployeeWelcomePage" />
        <activity android:name=".CustomerRegistration" />
        <activity android:name=".EmployeeRegistration" />
        <activity android:name=".RegistrationOption" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DriversLicense">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthCardForm"/>
        <activity android:name=".PhotoIdForm"/>
        <activity android:name=".AdminCreateService" />
        <activity android:name=".AdminEditService" />
        <activity android:name=".AdminRemoveService" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".WelcomeActivity" />
        <!--<activity android:name=".CustomForm"/>-->
        <activity android:name=".DocPopup" />

    </application>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />-->
</manifest>